.env
dist
node_modules

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock*


sockets/node_modules
sockets/.pnp
sockets/.pnp.js

sockets/coverage

sockets/build

sockets/.DS_Store
sockets/.env.local
sockets/.env.development.local
sockets/.env.test.local
sockets/.env.production.local

sockets/npm-debug.log*
sockets/yarn-debug.log*
sockets/yarn-error.log*
sockets/yarn.lock*